# Core functionality - changes here should be rare!
/src/app.py                   @NaveenprathapVenkatachalam
/src/backend/database.py      @NaveenprathapVenkatachalam
/src/backend/routers/auth.py  @NaveenprathapVenkatachalam

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NaveenprathapVenkatachalam
